bao-demos/wrkdir/srcs/bao/bin/rpi4/

bao-demos/wrkdir/imgs/
bao-demos/**/bin/

benchmarks/bin/bao-*.bin
benchmarks/logs/bao-*.log
benchmarks/logs/cleaned_logs/bao-*.csv

**/.cache/
**/build/
**/GPATH
**/GRTAGS
**/GTAGS
